.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* background-color: red; */
}
.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: 0;
    width: 100%;
}

.navbar li {
    float: left;

}

.navbar li a {
    display: block;
    padding: 8px;
    background-color: #dddddddd;
}